


body{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400,700;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);

}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    padding:15px;
    transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.centered > *{
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.qrcode{
    max-width: 100%;
    border-radius: 10px;
}

.text1{
    color: hsl(218, 44%, 22%);
    padding: 0 5px 0 5px;
    font-size: x-large;
    font-weight: bold;
}
.text2{
    color: hsl(220, 15%, 55%);
    font-size: medium;
    padding: 0 30px 0 30px;
    margin-bottom: 30px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }